.container-atualizacao-usuario {
  padding-bottom: 2rem;
  padding-left: 5%;
  padding-right: 5%;

  min-height: calc(100vh - var(--tamanho-footer));
  font-size: var(--tamanho-fonte-forms);
}

.container-atualizacao-usuario h1 {
  margin-bottom: 2rem;
  font-size: var(--tamanho-fonte-titulos);
}

.container-atualizacao-usuario .CadastroUsuario {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 42.5rem;
}

#alerta {
  color: var(--cor-texto-alerta);
}

.container-atualizacao-usuario .error {
  color: var(--cor-texto-alerta);
  font-style: italic;
}

#div-meio {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.container-atualizacao-usuario .esquerda {
  width: 50%;
  padding-right: 5%;
}
.container-atualizacao-usuario .direita {
  width: 50%;
}

.container-atualizacao-usuario .esquerda-numero {
  width: 20%;
  padding-right: 5%;
}
.container-atualizacao-usuario .direita-complemento {
  width: 80%;
}

.container-atualizacao-usuario .esquerda-cidade {
  width: 80%;
  padding-right: 5%;
}
.container-atualizacao-usuario .direita-uf {
  width: 20%;
}
.container-atualizacao-usuario .form-group-check-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-atualizacao-usuario .form-check.form-check-inline {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.container-atualizacao-usuario .form-check.form-check-inline input {
  width: 1rem;
  height: 1rem;
}

.container-atualizacao-usuario .CadastroUsuario label {
  text-align: left;
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}

.container-atualizacao-usuario .CadastroUsuario .checkboxDeclaracao label {
  white-space: normal;
}

.container-atualizacao-usuario .form-check-label.radio-label {
  margin: 0;
}

.container-atualizacao-usuario .checkboxDeclaracao {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  gap: .5rem;
}

#checkboxDeclaracao {
  width: var(--tamanho-fonte-forms);
  height: var(--tamanho-fonte-forms);
}

.container-atualizacao-usuario .linkentrada {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-atualizacao-usuario .linkentrada a {
  font-weight: 600;
  color: var(--cor-texto-destacado);

  transition: color .4s;
}

.container-atualizacao-usuario .linkentrada a:hover {
  color: var(--cor-texto-destacado-alternativo);
}

.container-atualizacao-usuario .CadastroUsuario input,
select {
  font-size: var(--tamanho-fonte-forms);
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--cor-caixa-texto);
}

#div-meio {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.container-atualizacao-usuario .botoes-atualizacao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

#botao {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  background-color: var(--cor-fundo-escuro);
  color: var(--cor-texto-claro);
  font-size: var(--tamanho-fonte-buttons);
}

.container-atualizacao-usuario .botoes-atualizacao .botao-deletar {
  width: 100%;
}

@media only screen and (max-width: 790px) {
  #div-meio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .container-atualizacao-usuario .esquerda,
  .container-atualizacao-usuario .direita,
  .container-atualizacao-usuario .esquerda-numero,
  .container-atualizacao-usuario .direita-complemento,
  .container-atualizacao-usuario .esquerda-cidade,
  .container-atualizacao-usuario .direita-uf {
    width: 100%;
    padding-right: 0;
  }
}

@media only screen and (max-width: 470px) {
  .container-atualizacao-usuario .botoes-atualizacao {
    flex-direction: column;
    gap: 0;
  }
}


@media only screen and (max-width: 370px) {
  .container-atualizacao-usuario .form-group-check-inline {
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
    padding-left: 1rem;
  }
}
